@model IEnumerable<Final2.Models.Blood>

@{
    ViewData["Title"] = "Index";
}

<h1>Blood</h1>

<p>
    <a asp-action="Create" class="btn btn-secondary">
    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="brown" class="bi bi-bookmark-plus-fill" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zm6.5-11a.5.5 0 0 0-1 0V6H6a.5.5 0 0 0 0 1h1.5v1.5a.5.5 0 0 0 1 0V7H10a.5.5 0 0 0 0-1H8.5V4.5z"/>
</svg>
    Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.dSsn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rhType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bTubeid)
            </th>        
            <th>
                @Html.DisplayNameFor(model => model.bAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bbId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sSsn)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.dSsn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rhType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bTubeid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bbId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sSsn)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.bTubeid"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="purple" class="bi bi-pencil-fill" viewBox="0 0 16 16">
  <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
</svg></a> |
                <a asp-action="Details" asp-route-id="@item.bTubeid"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="blue" class="bi bi-newspaper" viewBox="0 0 16 16">
  <path d="M0 2.5A1.5 1.5 0 0 1 1.5 1h11A1.5 1.5 0 0 1 14 2.5v10.528c0 .3-.05.654-.238.972h.738a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 1 1 0v9a1.5 1.5 0 0 1-1.5 1.5H1.497A1.497 1.497 0 0 1 0 13.5v-11zM12 14c.37 0 .654-.211.853-.441.092-.106.147-.279.147-.531V2.5a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0-.5.5v11c0 .278.223.5.497.5H12z"/>
  <path d="M2 3h10v2H2V3zm0 3h4v3H2V6zm0 4h4v1H2v-1zm0 2h4v1H2v-1zm5-6h2v1H7V6zm3 0h2v1h-2V6zM7 8h2v1H7V8zm3 0h2v1h-2V8zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1z"/>
</svg></a> |
                <a asp-action="Delete" asp-route-id="@item.bTubeid"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="red" class="bi bi-calendar-minus" viewBox="0 0 16 16">
  <path d="M5.5 9.5A.5.5 0 0 1 6 9h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5z"/>
  <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
</svg></a>
            </td>
        </tr>
}
    </tbody>
</table>
